.column__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  border: 0.5px solid var(--servermall-devider, #E3E2E2);
  background: var(--background-white, #FFF);
  width: 154px;
}

.column__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 0.5px solid var(--servermall-devider, #E3E2E2);
}

.date__item {
  color: var(--servermall-black, #313B43);

  
  
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; 
  text-transform: uppercase;
  margin-left: 21px;
  margin-top: 40px;
  margin-bottom: 154px;
}

.index {
  display: flex;
  width: 134px;
  height: 50px;
  padding: 12px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  color: var(--servermall-black, #313B43);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.column__conversion_text {
color: var(--servermall-red, #F00073);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.border__column_unfo {
display: flex;
width: 156px;
height: 51px;
padding: 12px 26px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-bottom: 0.5px solid var(--servermall-devider, #E3E2E2);

}

.column__cqr_text {
color: var(--servermall-yellow, #F5A623);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.border__column_cqr {
  display: flex;
width: 156px;
height: 78px;
padding: 12px 26px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-bottom: 0.5px solid var(--servermall-devider, #E3E2E2);
}

.column__plan_text {
color: var(--servermall-green-dark, #30EE7E);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.column__deals_text {
color: var(--servermall-black, #313B43);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}